<% if flash[:error] %>
  <ul>
    <% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
</div>


<h1><%= @superpower.name %> | <%= @superpower.description %></h1>
