<h2>All Superheroes</h2>
<%= form_tag(superpowers_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :superpower, params[:superpower], placeholder: "Search Superpowers" %>
    <%= submit_tag "Search", :superpower => nil %>
<% end %>
<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
